body {
  margin: 0;
  font-family: Arial, sans-serif;
  width: 280px;
  background: #111;
  color: #fff;
}

.container {
  padding: 12px;
}

.title {
  text-align: center;
}

.card {
  background: #1e1e1e;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

button {
  width: 100%;
  margin-top: 6px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}